

body {
    background:gray;
}

* {
    margin:0;
    padding:0;
}

.button {
    padding:10px 20px;
    background:orange;
    margin:10px;
}

.disableButton {
    
    background:black;
    color: white;
}

.buttons {
    display: flex;
    width:100%;
    justify-content: space-around;
}

#root {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 50px;
}

.Card {
background:white;
box-shadow: 3px 5px 10px black, -3px -5px 10px orange, 3px 5px 10px blue;
}


.Card h2 {
    height: 50px;
    font-size:18px;
    text-align: center;
}
.Card img {
    width:100%;
}